<div class="container">
    <h2>Crear Nuevo Tratamiento</h2>
    <form (submit)="onSubmit()">
      
      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" [(ngModel)]="tratamientoData.tipo" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="cantidad_sesion">Cantidad de Sesiones:</label>
        <input type="text" id="cantidad_sesion" name="tipo" [(ngModel)]="tratamientoData.cantidad_sesion" class="form-control" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Volver Atrás</button>
    </form>
  </div>
  