<div class="container">
  <h2>Historial Clínico</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Radiografías</th>
        <th>Tipo de Tratamiento</th>
        <th>Nombre del Doctor</th>
        <th>Apellido del Doctor</th>
        <th>Fecha de Registro</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let histClinica of histClinicas">
        <td>
          <img [src]="histClinica.radiografias" alt="Radiografia" style="max-width: 100px; max-height: 100px;">
        </td>
          <td>{{ histClinica.tipo_tratamiento }}</td>
          <td>{{ histClinica.nombre_doctor }}</td>
          <td>{{ histClinica.apellido_doctor }}</td>
          <td>{{ histClinica.fecha_registro }}</td>
        <td>
          <a [routerLink]="['/histClinica/edit', histClinica.id_historial]" class="btn btn-primary">Detalles</a>
          <a [routerLink]="['/histClinica/delete']" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>

  <button [routerLink]="['/histClinica/create']" class="btn btn-success">Crear Nuevo Historial Clínico</button>
</div>

