// Estilos generales
body {
  font-family: 'Arial', sans-serif;
}

.container {
  margin: 50px;
}

h1 {
  color: #333;
  align-content: center;
}

form {
  margin-top: 20px;

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
      color: #333;
      font-size: 20px;
      font-weight: bold;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 8px;
      font-size: 20px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="date"] {
      padding: 8px 0;
    }
  }

  .btn {
    margin-right: 5px;
  }

  .btn-primary {
    color: #fff;
    background-color: #3498db;
    font-size: 18px;

    &:hover {
      background-color: #2980b9;
    }
  }

  .btn-secondary {
    color: #333;
    background-color: #ddd;
    font-size: 18px;
    &:hover {
      background-color: #ccc;
    }
  }
}