<div class="container">
    <h2>Editar Historial Clinico</h2>
    <form (submit)="onSubmit()">
      <td>
        <img src="ruta/de/la/imagen.jpg" alt="Radiografía" style="max-width: 100px; max-height: 100px;">
      </td>      
      <div class="form-group">
        <label for="tipo_tratamiento">Tipo de Tratamiento:</label>
        <input type="text" id="tipo_tratamiento" name="tipo_tratamiento" [(ngModel)]="histClinicaData.tipo_tratamiento" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="nombre_doctor">Nombre del Doctor:</label>
        <input type="text" id="nombre_doctor" name="nombre_doctor" [(ngModel)]="histClinicaData.nombre_doctor" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="apellido_doctor">Apellido del Doctor:</label>
        <input type="text" id="apellido_doctor" name="apellido_doctor" [(ngModel)]="histClinicaData.apellido_doctor" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="fecha_registro">Fecha de Registro:</label>
        <input type="date" id="fecha_registro" name="fecha_registro" [(ngModel)]="histClinicaData.fecha_registro" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancelar</button>
    </form>
  </div>
  