<div class="container">
    <h2>Editar Historial Clinico</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="radiografias">Radiografia:</label>
        <input type="text" id="radiografias" name="radiografias" [(ngModel)]="histClinicaData.radiografias" class="form-control" required>
      </div>    
      <div class="form-group">
        <label for="id_tratamientong ">Tratamiento:</label>
        <input type="text" id="id_tratamiento" name="tipo_tratamiento" [(ngModel)]="histClinicaData.id_tratamiento" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="nombre_doctor">Doctor:</label>
        <input type="text" id="id_doctor" name="nombre_doctor" [(ngModel)]="histClinicaData.id_doctor" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="id_paciente">Paciente:</label>
        <input type="text" id="id_paciente" name="apellido_doctor" [(ngModel)]="histClinicaData.id_paciente" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="fecha_registro">Fecha de Registro:</label>
        <input type="date" id="fecha_registro" name="fecha_registro" [(ngModel)]="histClinicaData.fecha_registro" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="medicaciones">Medicaciones:</label>
        <input type="text" id="medicaciones" name="medicaciones" [(ngModel)]="histClinicaData.medicaciones" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="examen_clinico">Examen Clínico:</label>
        <input type="text" id="examen_clinico" name="examen_clinico" [(ngModel)]="histClinicaData.examen_clinico" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancelar</button>
    </form>
  </div>
  