<app-navbar></app-navbar>
<div class="container">
  <h2>Editar Historial Clínico</h2>
  <form (submit)="onSubmit()" class="row">

    <!-- Columna izquierda -->
    <div class="col-md-6">

      <div class="form-group">
        <label for="id_paciente">Paciente:</label>
        <input type="text" id="id_paciente" name="id_paciente" [(ngModel)]="histClinicaData.datos.id_paciente" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="id_doctor" class="form-label">Doctor:</label>
        <select id="id_doctor" name="id_doctor" [(ngModel)]="histClinicaData.datos.id_doctor" class="form-select">
          <option *ngFor="let doctor of doctores" [value]="doctor.id_doctor">{{ doctor.nombre }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="id_tratamiento" class="form-label">Tratamiento:</label>
        <select id="id_tratamiento" name="id_tratamiento" [(ngModel)]="histClinicaData.datos.id_tratamiento" class="form-select">
          <option *ngFor="let tratamiento of tratamientos" [value]="tratamiento.id_tratamiento">{{ tratamiento.tipo }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="medicaciones">Medicaciones:</label>
        <input type="text" id="medicaciones" name="medicaciones" [(ngModel)]="histClinicaData.datos.medicaciones" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="fecha_registro">Fecha de Registro:</label>
        <input type="date" id="fecha_registro" name="fecha_registro" [(ngModel)]="histClinicaData.datos.fecha_registro" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="estado_historial">Estado Historial:</label>
        <input type="text" id="estado_historial" name="estado_historial" [(ngModel)]="histClinicaData.datos.estado_historial" class="form-control" required>
      </div>
    </div>

    <!-- Columna derecha -->
    <!-- <div class="col-md-6">
      <div class="form-group">
        <label for="tipo_tratamiento">Documento de Identidad:</label>
        <input type="text" id="tipo_tratamiento" name="tipo_tratamiento" [(ngModel)]="histClinicaData.datos.tipo_tratamiento" class="form-control" required>
      </div>
    </div> -->

    <div class="form-group">
      <label for="examen_clinico">Examen Clinico:</label>
      <input type="text" id="examen_clinico" name="examen_clinico" [(ngModel)]="histClinicaData.datos.examen_clinico" class="form-control" required>
    </div>
    <!-- Columna para botones -->
    <div class="col-md-12 mt-3">
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancelar</button>
    </div>

  </form>
</div>
