<app-navbar></app-navbar>
<div class="container">
  <h1>Editar Agenda</h1>
  <form (submit)="onSubmit()" class="row">

    <!-- Columna izquierda -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="nombre_paciente">Paciente:</label>
        <input type="text" id="nombre_paciente" name="nombre_paciente" [(ngModel)]="agendaData[0].nombre_paciente" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="ci">ci:</label>
        <input type="text" id="ci" name="ci" [(ngModel)]="agendaData[0].ci" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="fecha_hora">fecha_hora:</label>
        <input type="text" id="fecha_hora" name="fecha_hora" [(ngModel)]="agendaData[0].fecha_hora" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="descripcion">descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" [(ngModel)]="agendaData[0].descripcion" class="form-control" required>
      </div>

      <!-- <div class="form-group">
        <label for="estado_agenda">Estado de Agenda:</label>
        <input type="text" id="estado_agenda" name="estado_agenda" [(ngModel)]="agendaData[0].descripcion" class="form-control" required>
      </div> -->

      <div class="form-group">
        <label for="id_doctor" class="form-label">Doctor:</label>
        <select id="id_doctor" name="id_doctor" [(ngModel)]="agendaData[0].id_doctor" class="form-select">
          <option *ngFor="let doctor of doctores" [value]="doctor.id_doctor">{{ doctor.nombre }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="estado_agenda">Estado de Agenda:</label>
        <select id="estado_agenda" name="estado_agenda" [(ngModel)]="agendaData[0].estado_agenda" class="form-control" required>
          <option value="Cancelada">Cancelada</option>
          <option value="Completada">Completada</option>
          <option value="Postergada">Postergada</option>
        </select>
      </div>

    </div>

    
    <!-- Columna para botones -->
    <div class="col-md-12 mt-3">
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancelar</button>
    </div>

  </form>
</div>
