

#borde {
  padding-top: 20px;
  background-color: #f0f0f0;
 
  
}

.custom-outline-danger {
  border-color: #ff0000; /* Rojo en formato hexadecimal */
}
.custom-outline-dark {
  border-color: #87CEEB; /* Negro en formato hexadecimal */
}
.btn {

margin-right: 10px;
&:focus {
outline: none; /* Añade esto para el estado de enfoque */
}
}
