<app-navbar></app-navbar>
<div class="container">
  <h2>Lista de Doctores</h2>
  <table class="table table-striped">
    <thead class="table-dark">
       <tr>
        <th>CI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nacimiento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let doctor of getCurrentPageItems(); let i = index">
        <tr>
          <td>{{ doctor.documento_identidad }}</td>
          <td>{{ doctor.nombre }}</td>
          <td>{{ doctor.apellido }}</td>
          <td>{{ doctor.fecha_nacimiento }}</td>
          <td>

            <!-- <a [routerLink]="['/doctor/edit', doctor.id_doctor]" class="btn btn-primary">Detalles</a>
            <a [routerLink]="['/doctor/delete']" class="btn btn-danger">Eliminar</a> -->

            <button [routerLink]="['/doctor/edit', doctor.id_doctor]" type="button" class="btn btn-outline-info custom-outline-dark">
              <i class="bi bi-info-lg"></i>
            </button>
            
            <button [routerLink]="['/doctor/delete']" type="button" class="btn btn-outline-danger custom-outline-danger">
              <i class="bi bi-trash3-fill"></i>
            </button>
            <!-- <a [routerLink]="['/doctor/edit', doctor.id_doctor]" class="btn btn-primary">Detalles</a>
            <a [routerLink]="['/doctor/delete', doctor.id_doctor]" class="btn btn-danger">Eliminar</a> -->

          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn btn-secondary" [disabled]="currentPage === 1" (click)="prevPage()">Anterior</button>
    
    <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>

    <button class="btn btn-secondary" [disabled]="currentPage === totalPages" (click)="nextPage()">Siguiente</button>
  </div>
<br>
  <button [routerLink]="['/doctor/create']" class="btn btn-success">Crear Nuevo Doctor</button>
</div>
