<div class="container">
    <h2>Tratamientos</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Cantidad de Sesiones</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tratamiento of tratamientos">
          <td>{{ tratamiento.tipo }}</td>
          <td>{{ tratamiento.cantidad_sesion }}</td>
          <td>
            <a [routerLink]="['/tratamiento/edit', tratamiento.id_tratamiento]" class="btn btn-primary">Detalles</a>
  
            <a [routerLink]="['/tratamiento/delete']" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
  
    <button [routerLink]="['/tratamiento/create']" class="btn btn-success">Crear Nuevo Tratamiento</button>
  </div>
  