.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-top: 50px; /* Margen superior predefinido */
  margin-left: 600px; /* Margen izquierdo predefinido */
  flex-grow: 1;
  display: flex;
  justify-content: flex-start; /* Alineación izquierda */
  align-items: flex-start; /* Alineación arriba */
  overflow: auto; /* Controla el desbordamiento */
}
