<app-navbar></app-navbar>
<div >
  <h3>Agenda</h3>
  <div>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Nombre Paciente</th>
          <th>Fecha y hora de la cita</th>
          <th>Descripción</th>
          <th>Estado Agenda</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let agenda of getCurrentPageItems(); let i = index">
          <tr>
            <td>{{ agenda.nombre_paciente }}</td>
            <td>{{ agenda.fecha_hora }}</td>
            <td>{{ agenda.descripcion }}</td>
            <td>{{ agenda.estado_agenda }}</td>
            <td>

              <button [routerLink]="['/agenda/edit', agenda.id_agenda]" type="button" class="btn btn-outline-info custom-outline-dark">
                <i class="bi bi-info-lg"></i>
              </button>
              
              <button [routerLink]="['/agenda/edit', agenda.id_agenda]" type="button" class="btn btn-outline-danger custom-outline-danger">
                <i class="bi bi-trash3-fill"></i>
              </button>
            
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    
  <div class="text-center">
    <button class="btn btn-secondary" [disabled]="currentPage === 1" (click)="prevPage()">Anterior</button>
    
    <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>

    <button class="btn btn-secondary" [disabled]="currentPage === totalPages" (click)="nextPage()">Siguiente</button>
  </div>
<br>
  <button [routerLink]="['/agenda/create']" class="btn btn-success">Crear Nueva Cita</button>
</div>
