
// body {
// 	margin: 0;
// 	padding: 0;
// 	background: black;
// }

// .container {
// 	position: absolute;
// 	left: 48%;
// 	top: 45%;
// 	transform: translate(-50%,-50%);
// 	padding: 10px;
// }

// input {
// 	outline: none;
// 	box-sizing: border-box;
// 	height: 60px;
// 	width: 0px;
// 	padding: 0 20px;
// 	color: #000;
// 	border-radius: 50px;
// 	font-size: 20px;
// 	border: 1px solid #D50000;
// 	transition: all .7s ease;
// }

// ::placeholder {
// 	color: grey;
// }

// .btn {
// 	position: absolute;
// 	right: 0px;
// 	top: 0px;
// 	width: 80px;
// 	height: 80px;
// 	background: #D50000;
// 	line-height: 80px;
// 	border-radius: 50%;
// 	text-align: center;
// 	cursor: pointer;
// 	transition: .5s;
// }

// .btn i {
// 	font-size: 25px;
// 	color: white;
// 	line-height: 80px;
// 	transition: all .7s ease;
// }

// .container:hover input {
// 	width: 350px;
// }

// .container:hover i{
// 	transform: rotate(-360deg);
// }

// .btn:hover{
// 	background: #cc0000;
// }

// body {
//   font-family: 'Arial', sans-serif;
// }

// table {
//     width: 100%;
//     border-collapse: collapse;
//     margin-bottom: 20px;
// }
// table, th, td {
//     border: 1px solid black;
// }
// th, td {
//     padding: 10px;
//     text-align: left;
// }
// input {
//     width: 100%;
//     padding: 8px;
// }

  #borde {
      //height: 200px;
      padding-top: 20px;
      background-color: #f0f0f0;
    
      
  }

// h2 {
//   color: #333;
// }

// .table {
//   width: 100%;
//   margin-top: 0%;
//   overflow-x: auto;

//   th, td {
//     padding: 0.8em; /* Reduzco el padding */
//     font-size: 0.8em; /* Reduzco el tamaño de la fuente */
//     height: 1.5em; /* Ajusto la altura de las filas */
//     text-align: center;
//     border: 1px solid #ddd;
//   }

//   th {
//     background-color: #f2f2f2;
//   }

//   tr:hover {
//     background-color: #f5f5f5;
//   }
// }

    .custom-outline-danger {
        border-color: #ff0000; /* Rojo en formato hexadecimal */
    }
    .custom-outline-dark {
        border-color: #87CEEB; /* Negro en formato hexadecimal */
    }
  .btn {
   
    margin-right: 10px;
    &:focus {
      outline: none; /* Añade esto para el estado de enfoque */
    }
  }


// .btn {
//   display: inline-block;
//   padding: 0.8em 1.2em;
//   font-size: 0.9em;
//   font-weight: bold;
//   text-align: center;
//   text-decoration: none;
//   cursor: pointer;
//   border: 1px solid #3498db;
//   border-radius: 0.4em;
//   transition: background-color 0.3s;

//   &.btn-primary,
//   &.btn-danger,
//   &.btn-success {
//     margin-bottom: 1em;
//   }

//   &.btn-primary {
//     color: #fff;
//     background-color: #3498db;

//     &:hover {
//       background-color: #2980b9;
//     }
//   }

//   &.btn-danger {
//     color: #fff;
//     background-color: #e74c3c;

//     &:hover {
//       background-color: #c0392b;
//     }
//   }

//   &.btn-success {
//     color: #fff;
//     background-color: #2ecc71;

//     &:hover {
//       background-color: #27ae60;
//     }
//   }

//   @media (max-width: 767px) {
//     .btn {
//       display: block;
//       width: 100%;
//       margin-bottom: 1em;
//     }
//   }
// }
